name: vtach-env
channels:
  - defaults
  - pytorch
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - scipy
  - pytorch
  - torchvision
  - torchaudio
  - pip
  - pip:
      - kagglehub
